<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Social cook</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>GetRecipefirstPiatti</servlet-name>
    <servlet-class>controller.GetRecipefirstPiatti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipefirstPiatti</servlet-name>
    <url-pattern>/GetRecipefirstPiatti</url-pattern>
  </servlet-mapping> <servlet>
    <servlet-name>GetRecipeLievitati</servlet-name>
    <servlet-class>controller.GetRecipeLievitati</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipeLievitati</servlet-name>
    <url-pattern>/GetRecipeLievitati</url-pattern>
  </servlet-mapping> <servlet>
    <servlet-name>GetRecipeSecondPiatti</servlet-name>
    <servlet-class>controller.GetRecipeSecondPiatti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipeSecondPiatti</servlet-name>
    <url-pattern>/GetRecipeSecondPiatti</url-pattern>
  </servlet-mapping> <servlet>
    <servlet-name>GetRecipeUniqDishes</servlet-name>
    <servlet-class>controller.GetRecipeUniqDishes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipeUniqDishes</servlet-name>
    <url-pattern>/GetRecipeUniqDishes</url-pattern>
  </servlet-mapping> <servlet>
    <servlet-name>GetRecipeContorni</servlet-name>
    <servlet-class>controller.GetRecipeContorni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipeContorni</servlet-name>
    <url-pattern>/GetRecipeContorni</url-pattern>
  </servlet-mapping> <servlet>
    <servlet-name>GetRecipeDesserts</servlet-name>
    <servlet-class>controller.GetRecipeDesserts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipeDesserts</servlet-name>
    <url-pattern>/GetRecipeDesserts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRecipeAppetizers</servlet-name>
    <servlet-class>controller.GetRecipeAppetizers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipeAppetizers</servlet-name>
    <url-pattern>/GetRecipeAppetizers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateRecipe</servlet-name>
    <servlet-class>controller.CreateRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRecipe</servlet-name>
    <url-pattern>/CreateRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>controller.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRecipe</servlet-name>
    <servlet-class>controller.GetRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipe</servlet-name>
    <url-pattern>/GetRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRecipes</servlet-name>
    <servlet-class>controller.GetRecipes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipes</servlet-name>
    <url-pattern>/GetRecipes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRecipes</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>