@charset "utf-8";

h2 {
	font-family: Lucida Console, sans-serif;
	text-align: center;
	color: yellow;
    margin-bottom: 30px;
	margin-top: 20px;
}

#fm {
	background: rgba(0, 0, 0, 0.5);
    color: #ffff;
    padding: 20px 20px;
    border-radius: 25px;
    margin-top: 7.5%
}

body {
	margin: 0;
	padding: 0;
	background: url("../image/table.jpg");
  	background-size: cover;
  	background-position: center center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.btn {
	margin-top: 5%;
    width: 100%;
    height: auto;
}