@charset "utf-8";

#recipe {
	border: 1px;
	background: rgba(0, 0, 0, 0.5);
	color: #ffff;
	padding: 20px 30px;
}

body{
	margin:0;
	padding:0;
	background: url("../image/doctor.jpg");
  	background-size: cover;
  	background-position: center center; 
	background-repeat:no-repeat;
	background-attachment: fixed;
}