#fb-btn {
	margin-top: 15px;
}

#mainNav {
	position: fixed;
	left: 0px;
	width: 200px;
	top: 100px;
}

#right {
	position: absolute;
	top: 100px;
	left: 200px;
	width: 750px;
}

#search {
	width: 300px;
}

#home, #yourprofile {
	display: block;
}

#user {
	display: block;
}

.recipe {
	padding: 20px;
	border-bottom: 1px solid #f4eefe;
	position: relative;
}

#title {
	position: absolute;
	font-size: 25px;
	margin-top: 5px;
	color: #54437e;
	order: 2;
}

#category {
	position: absolute;
	font-size: 14px;
	margin-top: 50px;
	color: #54437e;
	order: 1;
}

#voti {
	position: relative;
	display: inline-block;
	font-size: 14px;
	margin-top: 80px;
	color: #54437e;
}

.star-rating {
	color: #f6973c;
}

.recipe-showcase {
	list-style: none;
	width: 100%;
}

.recipe-showcase li {
	display: block;
	width: 75%;
	folat: left;
}

.recipe-photo {
	width: 100%;
	margin: 0;
	padding: 10px;
}

.recipe-photo img {
	width: 60%;
	height: auto;
	padding: 10px;
}

.btn-success {
	width: 100%;
}